@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');

.servicios {
    background-color: #F9F9FA;
    font-family: 'Kreon', serif;
    padding-bottom: 3rem;
}

.servicios-contenido {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.servicios .name {
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.servicios-contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    justify-items: center;
}

@media (max-width: 768px) {
    .servicios-contenido {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        text-align: center;
        justify-items: center;
    }
}

.card {
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 20px;
    width: 95%;
    box-shadow: 0 3px 10px rgba(218, 225, 232, .7);
    border-radius: 3px;
}

.card img {
    width: 80px;
}

.servicios-nota {
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media (max-width: 768px) {
    .servicios-nota {
        width: 70%;
    }
}